*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  margin: 0% 20%;
}

h4{
  font-size: 1rem;
  color: rgb(54, 54, 54);
}

h3{
  font-size: 1.5rem;
  color: rgb(54, 54, 54);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}

a{
  color: rgb(54, 54, 54);
  text-decoration: none;
}
